<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" th:text="${newUser.id == null ? 'Add New User' : 'Edit User'}"></h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form th:action="${newUser.id == null ? '/users/add' : '/users/update/' + newUser.id}" th:object="${newUser}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" required>
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}" th:disabled="${newUser.id != null}" >
                </div>

                <div class="mb-3" th:if="${newUser.id == null}">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}" th:required="${newUser.id == null}">
                </div>

                <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <select class="form-select" id="role" name="role" required>
                        <option value="COLLECTOR" th:selected="${newUser.roles != null && newUser.roles.contains('COLLECTOR')}">Collector</option>
                        <option value="DISPATCHER" th:selected="${newUser.roles != null && newUser.roles.contains('DISPATCHER')}">Dispatcher</option>
                        <option value="ADMIN" th:selected="${newUser.roles != null && newUser.roles.contains('ADMIN')}">Admin</option>
                    </select>
                </div>
                <div class="mb-3 form-check" th:if="${newUser.id != null}">
                    <input type="checkbox" class="form-check-input" id="enabled" th:field="*{enabled}">
                    <label class="form-check-label" for="enabled">Active</label>
                </div>
                <button type="submit" class="btn btn-primary"
                        onclick="return confirm('Are you sure you want to save?');">
                    Save
                </button>
                <a th:href="@{/users}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
