<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Dashboard</title>
</head>
<body>
<h1>Dashboard</h1>
<p>Welcome to your dashboard, <span sec:authentication="name"></span>!</p>
<p>Your roles: <span sec:authentication="principal.authorities"></span></p>

<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>
