<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <title>Secured Page</title>
</head>
<body>
<h1>Secured Test Page</h1>
<p>This page is secured!</p>
<p>User: <span sec:authentication="name"></span></p>
<p>Roles: <span sec:authentication="principal.authorities"></span></p>

<div>
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
  </form>
</div>

<p><a th:href="@{/home}">Back to Home</a></p>
</body>
</html>
